@import "../CSS/style.css";
@import "../CSS/styleactu.css";

.button{
    display: none;
}

.navlinkcrossleave{
    display: none;
}


/* main */
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}


/*background: linear-gradient(120deg, #058387, #00D4FF);*/
/* 1er block */
.hotel1{
    grid-area: 1 / 1 / 2 / 3;
    background: linear-gradient(60deg, #058387, transparent, #00D4FF);
    height: 700px;
}
.hotel1photo{
    margin-top: 10%;
    margin-left: 5%;
    height: 30%;
    width: 30%;
    border-radius: 10% 10%;
}
.hr1{
    width: 50%;
    margin-left: 30.2%;
    margin-top: -10%;
}
.textehotel1{
    background: url(../photorefaite/fond\ texte\ hébergement.jpg);
    background-size: cover;
    box-shadow: 2px 2px 4px 2px #872318;
    color: #872318;
    width: 50%;
    text-align: center;
    align-content: center;
    margin-left: 48%;
    margin-top: -300px;
}
.incard{
    box-shadow: 5px 10px 20px 5px #872318;
}
.incard:hover{
    border-radius: 20%;
    box-shadow: 5px 10px 20px 5px #872318;
}
.frontcard{
    margin-left: 2%;
    margin-top: 5%;
}

@keyframes flip{
    0%{
        box-shadow: 5px 10px 20px 5px #13B0F5;
    }
    
    100%{
        box-shadow: 5px 10px 20px 5px #058387;
    }
}

/* 2ème block */
.hotel2{
    margin-top: 20px;
    grid-area:  2 / 1 / 3 / 3;
    height: 700px;
    background: linear-gradient(60deg, #058387, transparent, #00D4FF);;
}
.textehotel2{
    background: url(../photorefaite/fond\ texte\ hébergement.jpg);
    background-size: cover;
    box-shadow: 5px 10px 20px 5px #872318;
    color: #872318;
    width: 50%;
    text-align: center;
    align-content: center;
    margin-left: 2%;
    margin-top: 300px;
}

.hotel2photo{
    height: 30%;
    width: 30%;
    margin-left: 60%;
    margin-top: -15%;
    border-radius: 10% 10%;
}
.incard2{
    box-shadow: 5px 10px 20px 5px #872318;
}
.incard2:hover{
    border-radius: 20%;
    box-shadow: 5px 10px 20px 5px #872318;
}
.flipcard2{
    margin-left: 53%;
    margin-top: -22%;
    position: relative;
    top: 5vh;

}


.hr2{
    width: 30%;
    margin-left: 30.2%;
    margin-top: -5%;
    border: 2px solid red;
}
footer{
    position: relative;
    bottom: -15vh;
    width: 100%;
    height: 30vh;
    background: #058387;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 100px;
}
footer div.carre{
    width: 500px;
    height: 200px;
    background: #13B0F5;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans' ;
    font-weight: lighter;
    color: #872318;
}
.logo img{
    border-radius: 50%;
}
.logo:hover{
    background-color: white;
    border-radius: 90% 90% 20% 20%;
    box-shadow: 3px 2px 2px 3px #13B0F5;
    transition: all 1s ease-in-out;
}
.facebook:hover{
    filter: drop-shadow(0 0  0.35rem blue);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
.twitter:hover{
    filter: drop-shadow(0 0  0.35rem #13B0F5);
    transition: all 0.6s ease-in-out;
}
.insta:hover{
    filter: drop-shadow(0 0  0.35rem pink);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
.snap:hover{
    filter:drop-shadow(0 0 0.20em yellow);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}



