@import "../CSS/style.css";


main input{
    margin: 50px;
    z-index: 2;
    background: #13B0F5;
    border: none;
    color: #A63A31;
    box-shadow: 1px 1px 2px 1px #A63A31;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 30px;
}
.bourinos{
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.bourinos:hover{
    background: #872318;
    color: #2EF8FF;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 3px #13B0F5;
    transform: scale(1.1);
}
.text{
    width: 300px;
}
.formulaire{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulaire img {
    position: absolute;
    width: 950px;
    height: 750px;
    z-index: 1;
    border-radius: 25px;
    box-shadow: 3px 3px 4px 3px #A63A31;
    opacity: 0.5;
}
