@import "../CSS/style.css";

main input{
    margin: 5px;
}
.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    width: 100%;
    height: 30vh;
    background: #058387;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 100px;
}
footer div{
    width: 300px;
    height: 200px;
    background: #13B0F5;
}
.logo img{
    border-radius: 50%;
}