@import "../CSS/style.css";


/* pour la typographie des textes */

.textefresque1, .texteport1, .texteport3, .textepromenade{
    font-family: 'Open Sans';
    font-weight: lighter;
}
main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

/*  flipcard 1 */
.flipcard{
    width: 700px;
    height: 600px;
    align-items: center;
}

.incard{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.frontcard .port1{
    color: black;
    width: 100%;
    height: 100%;
}


.backcard{
    margin-top: -85.8%;
    transform: rotateY(180deg);   
}

.backcard .port3{
    width: 100%;
    height: 100%;
}

.frontcard, .backcard{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard:hover .incard{
    transform: rotateY(180deg);
    transition: all 1.5s ease-in-out;
}

/* 1er block */
.photoactu{
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: 600px;
    margin-top: 3%;
    flex-direction: row;
    flex-wrap: wrap;
    background: #12CDD4;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.texteport1{
    border: 2px solid blue;
    width: 59.7%;
    text-align: center;
    margin-left: 40%;
    margin-top: -20%;
}
/*  flipcard 2 */
.flipcard2{
    width: 700px;
    height: 600px;
    align-items: center;
}

.incard2{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.frontcard2 .portfilet{
    color: black;
    width: 100%;
    height: 100%;
}
.backcard2{
    margin-top: -60%;
    transform: rotateY(180deg);   
}

.backcard2 .port4{
    margin-top: -25.8%;
    width: 100%;
    height: 100%;
}

.frontcard2, .backcard2{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard2:hover .incard2{
    transform: rotateY(180deg);
    transition: all 1.5s ease-in-out;
}
/* 2eme block */
.photoactu2{
    grid-area:  2 / 1 / 3 / 3;
    width: 100%;
    height: 600px;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #12CDD4;
    justify-content: space-around;
}

.texteport3{
    border: 2px solid blue;
    width: 50%;
    height: 20%;
    margin-top: 15%;
    margin-left: -4%;
    text-align: center;
}

/* 3ème block */
.photoactu3{
    grid-area: 3 / 1 / 4 / 3;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #12CDD4;
    justify-content: space-around;
}

.fresque1{
    width: 50%;
    height: 50%;
}

.textefresque1{
    border: 2px solid blue;
    width: 55%;
    text-align: center;
    height: 20%;
    margin-top: 15%;
}

/*  flipcard 3 */
.flipcard3{
    width: 700px;
    height: 600px;
    margin-left: -4%;
    align-items: center;
}

.incard3{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.frontcard3 .fresque1{
    color: black;
    width: 100%;
    height: 100%;
}
.backcard3{
    margin-top: -60%;
    transform: rotateY(180deg);   
}

.backcard3 .fresque2{
    margin-top: -25.8%;
    width: 100%;
    height: 100%;
}

.frontcard3, .backcard3{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard3:hover .incard3{
    transform: rotateY(180deg);
    transition: all 1.5s ease-in-out;
}



/* 4ème block */
.photoactu4{
    grid-area: 4 / 1 / 5 / 3;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #12CDD4;
    justify-content: space-around;
}

.promenade1{
    width: 50%;
    height: 50%;
}

.textepromenade{
    border: 2px solid blue;
    width: 50%;
    height: 50%;
    margin-top: 10%;
    text-align: center;
}


/*  flipcard 4 */
.flipcard4{
    width: 700px;
    height: 600px;
    margin-left: -4%;
    align-items: center;
}

.incard4{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.frontcard4 .promenade{
    color: black;
    width: 100%;
    height: 100%;
}
.backcard4{
    margin-top: -60%;
    transform: rotateY(180deg);   
}

.backcard4 .promenade1{
    margin-top: -25.8%;
    width: 100%;
    height: 100%;
}

.frontcard4, .backcard4{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard4:hover .incard4{
    transform: rotateY(180deg);
    transition: all 1.5s ease-in-out;
}
/*--------------------------------------------- Pour l'effet du hover cards-----------------------------------------*/
/* effet hover pour la frontcard */
.port1:hover, .portfilet:hover, .fresque1:hover, .promenade:hover{
    box-shadow: 2px 0px 0px 2px #872318;
    transition: all 1s ease-in-out;
    border-radius: 20%;
}

/* backcards */
.port3, .port4, .fresque2, .promenade1{
    box-shadow: 2px 0px 0px 2px #872318;
    border-radius: 20%;
}


/*------------------------------------ Pour les différents blocks -------------------------------------------*/

/* blocks */

.photoactu:hover, .photoactu2:hover, .photoactu3:hover, .photoactu4:hover{
box-shadow: 0px 0px 20px 0px #12CDD4;
-webkit-box-shadow:0px 0px 22px 0px #12CDD4 ;
-moz-box-shadow: 0px 0px 22px 0px #12CDD4;
}