*{
    margin: 0;
}
body{
    background: #19f3fb30;
    transition: 0.8s ease;
    z-index: -2;
}
header{
    width: 100%;
    height: 20vh;
    background: #058387;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img{
    width: 100px;
    border-radius: 50%;
    transition: all 1s ease-in-out;

}

header img:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.2);
    box-shadow: 0px 5px 5px 0px white;
}


header a{
    text-decoration: none;
}
header a p{
    color: #A63A31;
    font-size: 35px;
    
}

header a p:hover{
    color: white;
    transition: all 1s ease-in-out;
    text-shadow: 0 0 2px white;
}
/* boutton header "inscription", "connexion" */
header input{
    background: #13B0F5;
    border: #13B0F5;
    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    color: #A63A31;
    cursor: pointer;
}
header input:hover{
    background-color: #872318;
    color: white;
    transition: all 1s ease-in-out;
    box-shadow: 5px 5px 5px #13B0F5 inset;
}

  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  
  .titreetaples{
      color: #13B0F5;
      font-family: 'roboto';
      animation: titre 4s infinite alternate;
  }
  @keyframes titre {
      0%{
          transform: translate(-200%);
          text-shadow: 5px 5px 5px #058387;
      }
      100%{
          transform: translate(10%);
      }
      
  }
  .mega-menu a {
    display: block;
    color: #872318;
    text-decoration: none;
    background: #13B0F5;
    box-shadow: #872318 1px 1px 2px 1px;
    transition: 0.8s ease;
    border-radius: 10px;
}
.mega-menu a:hover {
    background: #872318;
    color: #13B0F5;
    transition: 0.8s ease;
    box-shadow: #13B0F5 1px 2px 4px 1px;
    transform: scale(1.3);
  }
  
  .mega-menu-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: #058387;
    height: 60px;
  }
  
  .lvl-0 > a {
    padding: 12px 25px;
  }
  .lvl-0:hover > ul {
    display: flex;
  }
  
  @media screen and ( max-width:1200px ) {
    .mega-menu-main {
      flex-direction: column;
    }
    .mega-menu-tab {
      flex-direction: column;
      position: static;
      padding-left: 30px;
    }
  }
.navlink:hover{
    transform: scale(1.1);
    color: #2EF8FF;
}
.crossleave{
    position: relative;
    left: 40%;
    color: #A63A31;
}
.betterave{
    position: relative;
    left: -25%;
}
#nav{
    position: absolute;
    left: -50vw;
}
button{
    margin: 20px;
    background: #13B0F5;
    border: none;
    color: #A63A31;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #A63A31;
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: absolute;
    left: -50vw;
    animation: translate 2s alternate infinite;
}

@keyframes translate {
    from{
        transform: translate(20px);
    }

    to{
        transform: translate(0px);
    }
}
button:hover{
    background: #872318;
    color: #2EF8FF;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 3px #13B0F5;
    transform: scale(1.1);
    border-radius: 50px 0px 0px 50px;
}
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 1400px;
    height: 563px;
}
/* boutton "voir plus" */
.voirplus{
    background-color: #13B0F5;
    color: #872318;
    width: 10%;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 2px 1px #A63A31;
    transition: all 1s ease-in-out;
    position: relative;
    z-index: 10;
}

.voirplus:hover{
    background: #872318;
    color: #2EF8FF;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 3px #13B0F5;
    transform: scale(1.1);
}
footer{
    position: relative;
    bottom: -15vh;
    width: 100%;
    height: 30vh;
    background: #058387;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 100px;
}
footer div.carre{
    width: 500px;
    height: 200px;
    background: #13B0F5;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-family: 'Open Sans' ;
    font-weight: lighter;
    color: #872318;
}
.logo img{
    border-radius: 50%;
}
.logo:hover{
    border-radius: 90% 90% 20% 20%;
    box-shadow: 3px 2px 2px 3px #13B0F5;
    transition: all 1s ease-in-out;
}
.facebook:hover{
    filter: drop-shadow(0 0  0.35rem blue);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
.twitter:hover{
    filter: drop-shadow(0 0  0.35rem #13B0F5);
    transition: all 0.6s ease-in-out;
}
.insta:hover{
    filter: drop-shadow(0 0  0.35rem pink);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
.snap:hover{
    filter:drop-shadow(0 0 0.20em yellow);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}



