*{
    margin: 0;
}
body{
    background: #19f3fb30;
    transition: 0.8s ease;
}
header{
    width: 100%;
    height: 20vh;
    background: #058387;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header img{
    width: 100px;
    border-radius: 50%;
}

header img:hover{
    transition: all 1s ease-in-out;
    transform: scale(1.08);
}


header a{
    text-decoration: none;
}
header a p{
    color: #A63A31;
    font-size: 35px;
    
}

header a p:hover{
    color: white;
    transition: all 1s ease-in-out;
    text-shadow: 0 0 2px white;
}
/* boutton header "inscription", "connexion" */
header input{
    background: #13B0F5;
    border: #13B0F5;
    width: 7vw;
    height: 4vh;
    border-radius: 10px;
    color: #A63A31;
    cursor: pointer;
}
header input:hover{
    background-color: #872318;
    color: white;
    transition: all 1s ease-in-out;
    box-shadow: 5px 5px 5px #13B0F5 inset;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    width: 0;
    height: 100vh;
    transform: translate(-20vw);
    transition: 0.8s ease;
    position: fixed;
    top: 0;
    background: #058387;
    height: 100%;
}
.navlink{
    text-decoration: none;
    font-size: 2em;
    transition: 0.8s ease;
    color: #A63A31;
}
.meteo{
    margin-top: 20px;
    margin-bottom: 20px;
}
.navlink:hover{
    transform: scale(1.1);
    color: #2EF8FF;
}
.crossleave{
    position: relative;
    left: 40%;
    color: #A63A31;
}
button{
    margin: 20px;
    background: #13B0F5;
    border: none;
    color: #A63A31;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #A63A31;
    cursor: pointer;
    transition: all 1s ease-in-out;
    position: sticky;
    animation: translate 2s alternate infinite;
}

@keyframes translate {
    from{
        transform: translate(20px);
    }

    to{
        transform: translate(0px);
    }
}
button:hover{
    background: #872318;
    color: #2EF8FF;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 3px #13B0F5;
    transform: scale(1.1);
    border-radius: 50px 0px 0px 50px;
}
nav input{
    background: #13B0F5;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px #A63A31;
    color: #A63A31;
    cursor: pointer;
    transition: all 1s ease-in-out;
    font-size: 0.6em;
}
nav input:hover{
    background: #872318;
    color: #2EF8FF;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 3px #13B0F5;
    transform: scale(1.1);
}
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 1400px;
    height: 563px;
}
/* boutton "voir plus" */
.voirplus{
    background-color: #13B0F5;
    color: #872318;
    width: 10%;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 2%;
    box-shadow: 1px 1px 2px 1px #A63A31;
    transition: all 1s ease-in-out;
}

.voirplus:hover{
    background: #872318;
    color: #2EF8FF;
    transition: all 1s ease-in-out;
    box-shadow: 3px 3px 3px #13B0F5;
    transform: scale(1.1);
}

footer{
    position: relative;
    bottom: -15vh;
    width: 100%;
    height: 30vh;
    background: #058387;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer img{
    width: 100px;
}
footer div.carre{
    width: 300px;
    height: 200px;
    background: #13B0F5;
}
.logo img{
    border-radius: 50%;
}

.logo:hover{
    background-color: white;
    border-radius: 90% 90% 20% 20%;
    box-shadow: 3px 2px 2px 3px #13B0F5;
    transition: all 1s ease-in-out;
}
.facebook:hover{
    filter: drop-shadow(0 0  0.35rem blue);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
.twitter:hover{
    filter: drop-shadow(0 0  0.35rem #13B0F5);
    transition: all 0.6s ease-in-out;
}
.insta:hover{
    filter: drop-shadow(0 0  0.35rem pink);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}
.snap:hover{
    filter:drop-shadow(0 0 0.20em yellow);
    border-radius: 50px;
    transition: all 0.6s ease-in-out;
}

