@media screen and (max-width : 765px) {
    
    
    header{
        width: 100%;
        height: 20vh;
        background: #058387;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header img{
        width: 80px;
        border-radius: 50%;
    }
    header a{
        text-decoration: none;
    }
    header a p{
        color: #A63A31;
        font-size: 15px;
    }
    header input{
        background: #13B0F5;
        border: #13B0F5;
        width: 15vw;
        height: 4vh;
        border-radius: 10px;
        color: #A63A31;
    }
    main{
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        width: 100%;
        height: 30vh;
        background: #058387;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    footer img{
        width: 50px;
    }
    footer div.carre{
        width: 200px;
        height: 80px;
        background: #13B0F5;
    }
    .logo img{
        border-radius: 50%;
    }

    /* contenu */
    .flipcard{
        height: 250px;
        width: 314px;
    }

    .backcard{
        margin-top: -80%;
    }
    .texteport1{
        width: 95%;
        height: 360px;
        margin-top: 5%;
        margin-left: 2%;
        font-size: smaller;
    }

    .photoactu{
        height: 656px;
    }


    /* 2ème block */

    .flipcard2{
        height: 250px;
        width: 314px;
        margin-top: 11.5%;
    }

    .backcard2{
        margin-top: -55%;
    }
    .texteport3{
        width: 95%;
        height: 360px;
        font-size: smaller;
        margin-top: 1%;
        margin-left: 2%;

    }
    .photoactu2{
        height: 656px;
    }

    /* 3ème block */
    .flipcard3{
        height: 250px;
        width: 314px;
        margin-top: 11.5%;
        margin-left: 0%;
    }
    .textefresque1{
        width: 95%;
        height: 360px;
        font-size: smaller;
        margin-top: 1%;
        margin-left: 2%;

    }
    .photoactu3{
        height: 656px;
    }


    /* 4ème block */
    .flipcard4{
        height: 250px;
        width: 314px;
        margin-top: 11.5%;
        margin-left: 0%;
    }

    .backcard4{
        margin-top: -55%;
    }
    .textepromenade{
        width: 95%;
        height: 360px;
        font-size: smaller;
        margin-top: 1%;
        margin-left: 2%;

    }
    .photoactu4{
        height: 656px;
    }
}