@media screen and (max-width : 765px) {
    @import "./responsiveindex.css";

    header{
        width: 100%;
        height: 20vh;
        background: #058387;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    header img{
        width: 80px;
        border-radius: 50%;
    }
    header a{
        text-decoration: none;
    }
    header a p{
        color: #A63A31;
        font-size: 15px;
    }
    header input{
        background: #13B0F5;
        border: #13B0F5;
        width: 15vw;
        height: 4vh;
        border-radius: 10px;
        color: #A63A31;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        width: 0;
        height: 100vh;
        transform: translate(-20vw);
        transition: 0.8s ease;
        position: fixed;
        top: 0;
        background: #058387;
        height: 100%;
    }
    .navlink{
        text-decoration: none;
        font-size: 0.9em;
        transition: 0.8s ease;
        color: #A63A31;
    }
    .crossleave{
        position: relative;
        left: 30%;
        color: #A63A31;
    }
    button{
        margin: 20px;
        background: #13B0F5;
        border: none;
        color: #A63A31;
        width: 100px;
        height: 30px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px #A63A31;
        cursor: pointer;
        transition: all 1s ease-in-out;
        position: sticky;
        animation: translate 2s alternate infinite;
    }
    .mega-menu{
        display: none;
    }
    #nav{
        position: absolute;
        left: 0;
    }
    .nav input{
        background: #13B0F5;
        border: none;
        width: 72px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px #A63A31;
        color: #A63A31;
        cursor: pointer;
        transition: all 1s ease-in-out;
    }
    input.bifton{
        background-color: #13B0F5;
        color: #872318;
        width: 9vh;
        border: none;
        border-radius: 10px;
        font-size: 0.7em;
        cursor: pointer;
        margin-top: 65%;
        margin-bottom: 2%;
        box-shadow: 1px 1px 2px 1px #A63A31;
        transition: all 1s ease-in-out;
        z-index: 1;
        position: relative;
        left: 25%;
    }

}