*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: grid;
    grid-template: 20vh 1fr 1fr 1fr 1fr 10vh/ 10vw 1fr 1fr 1fr 1fr;
}

header{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    height: 100%;
    width: 10vw;
    background: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}

main{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    background: url(../photorefaite/background\ resto.png);
    background-size: cover;
    border: 2px solid black;
}

.resto1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    background-color: azure;
}
/* flipcard1 */
.flipcard1{
    grid-column-start: 1;
    grid-column-end: 2;
    width: 900px;
    height: 615px;
    align-items: center;
    border: 2px solid black;
    background: #872318;
}

.incard1{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.frontcard1 .cercle1{
    color: black;
    background:white;
    height: 600px;
    width: 600px;
    border-radius: 500px;
    border: 2px solid black;
    margin-left: 20%;
    transition: all 2.5s ease-in-out;
}
 .frontcard1 .cercle1:hover{
    transform: rotate(180deg);
    box-shadow: 10px 0px 0px 10px grey;
}
.backcard1{
    margin-top: -67%;
    margin-left: 3.5%;
    transform: rotateY(180deg);   
}

.backcard1 .backphoto1{
    border: 2px solid black;
    width: 600px;
    height: 600px;
    border-radius: 500px;
}

.frontcard1, .backcard1{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard1:hover .incard1{
    transform: rotateY(180deg);
    transition: all 1.5s ease-in-out;
}

.cercle2{
    position: relative;
    height: 450px;
    width: 450px;
    left: 12%;
    top: 12%;
    background-image: url(../photorefaite/Restoauxpécheursjpg.png);
    background-size: cover;
    border-radius: 500px;
    border: 2px solid black;
    transition: all 1.5s ease-in-out;
}

.flipcard1:hover .cercle2:hover{
    transform: rotate(360deg);
    background: url(../photorefaite/Restoauxpécheursjpg.png);
    background-size: cover;
    box-shadow: 10px 0px 0px 10px grey inset;
}

.menu1{
    display: grid;
}

.menuphoto1{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 2;
    height: 620px;
    width: 550px;
    margin-left: 55%;
    margin-top: -42%;
    border: 2px solid red;
    transition: all 0.8s ease-in-out;
}

.menuphoto1:hover{
    box-shadow: 5px 10px 10px 5px #872318;
}

.resto2{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color:chartreuse;
}
/* flipcard2 */
.flipcard2{
    grid-column-start: 2;
    width: 900px;
    height: 6px;
    margin-top: 0%;
    align-items: center;
    border: 2px solid black;
    background: #872318;
}

.incard2{
    height: 100%;
    width: 100%;
    text-align: center;
    transition: all 0.8s ease;
    transform-style: preserve-3d;
}

.frontcard2 .cercle3{
    color: black;
    background:white;
    height: 600px;
    width: 600px;
    border-radius: 500px;
    border: 2px solid black;
    margin-left: 20%;
    transition: all 2.5s ease-in-out;
}
 .frontcard2 .cercle3:hover{
    transform: rotate(180deg);
    box-shadow: 10px 0px 0px 10px grey;
}
.backcard2{
    margin-top: -67%;
    margin-left: 3.5%;
    transform: rotateY(180deg);   
}

.backcard2 .backphoto2{
    border: 2px solid black;
    width: 600px;
    height: 600px;
    border-radius: 500px;
}

.frontcard2, .backcard2{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.flipcard2:hover .incard2{
    transform: rotateY(180deg);
    transition: all 1.5s ease-in-out;
}

.cercle3{
    position: relative;
    height: 450px;
    width: 450px;
    left: 12%;
    top: 12%;
    background-image: url(../photorefaite/Restoauxpécheursjpg.png);
    background-size: cover;
    border-radius: 500px;
    border: 2px solid black;
    transition: all 1.5s ease-in-out;
}

.flipcard2:hover .cercle4:hover{
    transform: rotate(360deg);
    background: url(../photorefaite/Restoauxpécheursjpg.png);
    background-size: cover;
    box-shadow: 10px 0px 0px 10px grey inset;
}

.menu2{
    display: grid;
}
.menuphoto2{
    grid-column-start: 4;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 620px;
    width: 100%;
    border: 2px solid red;
    transition: all 0.8s ease-in-out;
}

.menuphoto2:hover{
    box-shadow: 5px 10px 10px 5px #872318;
}
footer{
    background: yellowgreen;
    grid-row: 7;
    grid-column-start: 2;
    grid-column-end: 6;
}